---
import Button from '../components/Button.astro';
import HomePageAboutMe from '../components/HomePageAboutMe.astro';
import HomePageHero from '../components/HomePageHero.astro';
import HomePagePostCard from '../components/HomePagePostCard.astro';
import HomePageProjectsSlider from '../components/HomePageProjectsSlider.jsx';
import Layout from '../layouts/Layout.astro';

import "slick-carousel/slick/slick.css";

const projects = await Astro.glob('../pages/projects/*.mdx');
---

<Layout
	pageTitle="Inicio - Ignacio Fernández"
	pageDescription="Bienvenidos a mi blog personal, donde podrás conocerme un poco más y ver mis trabajos realizados."
>
	<div class="container w-full md:max-w-6xl mx-auto flex flex-wrap items-center pt-20 mt-20 mb-10 lg:mt-10">
		<HomePageHero />
		<HomePageAboutMe />
	</div>
	<section class="w-full py-6 text-center">
		<HomePageProjectsSlider client:only="react" projects={projects} />
		<a href="#" class="transition duration-200 font-medium border rounded-md mx-auto px-3 py-2 text-gray-500 hover:text-gray-900 hover:border-sky-500 text-normal inline-block my-6">
			Ver todos los proyectos
		</a>
	</section>
	<section class="container w-full md:max-w-6xl mx-auto my-10 md:my-28 px-4 md:px-6">
		<HomePagePostCard />
		<div class="w-full text-center md:text-left">
			<a href="./blog" class="transition duration-200 font-medium border rounded-md mx-auto px-3 py-2 text-gray-500 hover:text-gray-900 hover:border-sky-500 text-normal inline-block my-6">
				Ver todos los artículos
			</a>
		</div>
	</section>
</Layout>