---
import HomePageAboutMe from '../components/HomePageAboutMe.astro';
import HomePageHero from '../components/HomePageHero.astro';
import HomePagePostCard from '../components/HomePagePostCard.astro';
import HomePageProjectCard from '../components/HomePageProjectCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
	pageTitle="Inicio - Ignacio Fernández"
	pageDescription="Bienvenidos a mi blog personal, donde podrás conocerme un poco más y ver mis trabajos realizados."
>
	<div class="container w-full md:max-w-6xl mx-auto flex flex-wrap items-center pt-20 mt-20 mb-10 lg:mt-10">
		<HomePageHero />
		<HomePageAboutMe />
	</div>
	<HomePageProjectCard />
	<div class="container w-full md:max-w-6xl mx-auto my-10 md:my-28">
		<HomePagePostCard />
	</div>
</Layout>