---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="Ignacio Fernández - Blog personal"
	description="Bienvenidos a mi blog personal, donde podrás conocerme un poco más y ver mis trabajos realizados."
	headingTitle="Inicio"
>
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">
		Hola mundo
	</main>
</Layout>