---
export interface ButtonProps {
  url: string;
  text: string;
  attrs?: Record<string, any>;
}

const { url, text, attrs } = Astro.props;
---

<a href={url} { ...attrs } class="bg-transparent border border-gray-500 hover:border-green-500 text-xs text-gray-500 hover:text-green-500 font-bold py-2 px-4 rounded-md" >
    {text}
</a>