---
export interface ButtonProps {
  url: string;
  text: string;
  attrs?: Record<string, any>;
}

const { url, text, attrs } = Astro.props;
---

<a href={`${url}`} { ...attrs } class="transition duration-200 font-medium me-2 border rounded-md px-3 py-2 text-gray-700 hover:text-gray-900 hover:border-sky-500" >
    {text}
</a>