<section class="w-full px-4 md:px-6 text-gray-800">
    <div class="flex items-center mt-10 mb-20 md:mb-40">
      <span class="animate-float">
        <img id="hero-image" src="/images/hero/marketing.svg" height="120" width="120" alt="Hero image" class="w-[80px] h-[80px] md:w-[120px] md:h-[120px] -rotate-6 object-cover me-5 transition-all duration-500 ease-in-out transform translate-y-0 opacity-100">
      </span>
      <h1 class="relative h-[96px] md:h-[120px] font-bold font-sans break-normal text-gray-900 text-4xl md:text-6xl">
          <span id="palabra1" class="absolute font-bold transition-all duration-500 ease-in-out transform translate-y-0 opacity-100">Marketing</span><br>
          <span id="palabra2" class="absolute font-bold transition-all duration-500 ease-in-out transform translate-y-0 opacity-100 bg-gradient-to-r from-green-500 via-sky-500 to-blue-500 text-transparent bg-clip-text animate-gradient">Specialist</span>
      </h1>
    </div>
</section>

<style is:global >
  .animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
  }

  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-float {
    animation: animatefloat 3s ease-in-out infinite;
  }

  @keyframes animatefloat {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-5px);
	}
	100% {
		transform: translatey(0px);
	}
}
</style>

<script is:inline>
    let palabras1 = ["Marketing", "Branding", "Design"];
let palabras2 = ["Specialist", "Lover", "Passionate"];
let imagenes = ["/images/hero/marketing.svg", "/images/hero/branding.svg", "/images/hero/design.svg"];
let index = -1;

function changeWords() {
  index = (index + 1) % palabras1.length;

  const palabra1 = document.getElementById('palabra1');
  const palabra2 = document.getElementById('palabra2');
  const heroImage = document.getElementById('hero-image');

  // Iniciar la animación de "desaparición"
  palabra1.className = "absolute transition-all duration-500 ease-in-out transform -translate-y-12 opacity-0";
  palabra2.className = "absolute transition-all duration-500 ease-in-out transform -translate-y-12 opacity-0 bg-gradient-to-r from-green-500 via-sky-500 to-blue-500 text-transparent bg-clip-text animate-gradient";
  heroImage.className = "w-[80px] h-[80px] md:w-[120px] md:h-[120px] -rotate-6 object-cover me-5 transition-all duration-500 ease-in-out transform -translate-y-12 opacity-0";

  // Cambiar la palabra 1 después de un retraso
  setTimeout(() => {
    palabra1.innerText = palabras1[index];
    palabra1.className = "absolute transition-all duration-500 ease-in-out transform translate-y-0 opacity-100";
  }, 500);

  // Cambiar la palabra 2 y la imagen después de un retraso adicional
  setTimeout(() => {
    palabra2.innerText = palabras2[index];
    palabra2.className = "absolute transition-all duration-500 ease-in-out transform translate-y-0 opacity-100 bg-gradient-to-r from-cyan-500 via-sky-500 to-blue-500 text-transparent bg-clip-text animate-gradient";


  }, 1000);

  setTimeout(() => {
    let newImage = new Image();
    newImage.onload = function () {
      // Cuando la imagen esté cargada, actualiza la imagen
      heroImage.src = this.src;
      // Comenzar la animación de "aparición" de la imagen
      heroImage.className = "w-[80px] h-[80px] md:w-[120px] md:h-[120px] -rotate-6 object-cover me-5 transition-all duration-500 ease-in-out transform translate-y-0 opacity-100";
    }
    newImage.src = imagenes[index];
  }, 1500)
}

// Llamar a changeWords por primera vez para iniciar las animaciones
changeWords();
setInterval(changeWords, 7000);

</script>
