<section class="w-full px-4 md:px-6 py-20 text-xl text-gray-800 leading-normal">
    <h1 class="block h-[130px] font-bold font-sans break-normal text-gray-900 text-4xl md:text-6xl">
        <span id="palabra1" class="absolute font-bold transition-all duration-500 ease-in-out transform translate-y-0 opacity-100">Marketing</span><br>
        <span id="palabra2" class="absolute font-bold transition-all duration-500 ease-in-out transform translate-y-0 opacity-100 bg-gradient-to-r from-green-500 via-sky-500 to-blue-500 text-transparent bg-clip-text animate-gradient">Specialist</span>
    </h1>
</section>

<style is:global >
  .animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
  }

  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>

<script is:inline>
    let palabras1 = ["Marketing", "Branding", "Design"];
    let palabras2 = ["Specialist", "Lover", "Enthusiast"];
    let index = 0;

    function cambiarPalabras() {
      const palabra1 = document.getElementById('palabra1');
      const palabra2 = document.getElementById('palabra2');
      palabra1.className = "absolute transition-all duration-500 ease-in-out transform -translate-y-12 opacity-0";
      palabra2.className = "absolute transition-all duration-500 ease-in-out transform -translate-y-12 opacity-0 bg-gradient-to-r from-green-500 via-sky-500 to-blue-500 text-transparent bg-clip-text animate-gradient";
  
      setTimeout(() => {
        index = (index + 1) % palabras1.length;
        palabra1.innerText = palabras1[index];
        palabra1.className = "absolute transition-all duration-500 ease-in-out transform translate-y-0 opacity-100";
      }, 500);

      setTimeout(() => {
        palabra2.innerText = palabras2[index];
        palabra2.className = "absolute transition-all duration-500 ease-in-out transform translate-y-0 opacity-100 bg-gradient-to-r from-cyan-500 via-sky-500 to-blue-500 text-transparent bg-clip-text animate-gradient";
      }, 1000);
    }

    setInterval(cambiarPalabras, 5000);
</script>
