---
const { heading } = Astro.props;
---

<li>
  <a href={'#' + heading.slug} class="text-grey-900 hover:underline">
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="pl-4 mt-2">
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>