---
import { SEO } from 'astro-seo';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
	pageTitle: string,
	pageDescription: string,
}

const { pageTitle, pageDescription } = Astro.props;
---

<!DOCTYPE html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<SEO
			title={pageTitle}
			description={pageDescription}
			openGraph={{
				basic: {
					title: pageTitle,
					type: "website",
					image: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
				}
			}}
			extend={{
				link: [
					{ rel: "icon", type:"image/svg+xml", href:"/favicon.svg" },
					{ rel: "sitemap", href:"/sitemap-index.xml" },
				]
			}}
		/>
	</head>
	<body>
		<Header/>
		<main>
			<slot />
		</main>
		<Footer/>
	</body>
</html>